@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

:root {
  --escuro: hsl(0deg 0% 11%);
  --cinza: hsl(6deg 14% 96%);
  --cinzaClaro: hsl(160, 14%, 96%);
  --rosa: hsl(6deg 31% 81%);
  --roxo: hsl(314deg 32% 24%);
  --roxoClaro: hsl(295deg, 18%, 37%);
  --verde: hsl(155deg 15% 75%);
  --containerWidth: 1280px;
  --paddingConteudo: 60px;
  --inicioPaddingTopo: 50px;
  --logoEspacoTopo: 20px;
  --logoWidth: 200px;
  --logoFundoMaxHeight: calc(97vh - var(--inicioPaddingTopo));
  --corSombra1: hsl(0deg 0% 1% / 10%);
  --corSombra2: hsl(0deg 0% 1% / 5%);
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;

  --fundo: var(--cinza);
  --sombra1: var(--corSombra1) 0px 10px 15px -3px, var(--corSombra2) 0px 4px 6px -2px;
  --sombra2: var(--corSombra1) 0px 20px 25px -5px, var(--corSombra2) 0px 10px 10px -5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--fundo);
  color: var(--escuro);
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

section {
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 100px;
}

img {
  display: block;
}

.scroll-container {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.container {
  max-width: var(--containerWidth);
  margin: 0 auto;
  padding: 0 1rem;
}

.cabecalho {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  pointer-events: none;
}

.cabecalho .container {
  display: flex;
}

.cabecalho__logo {
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
  margin-top: var(--logoEspacoTopo);
  width: var(--logoWidth);
  pointer-events: initial;
}

.cabecalho__logo img {
  display: block;
  width: 100%;
  pointer-events: none;
}

.cabecalho__area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 35px;
  pointer-events: initial;
}

.cabecalho__area--direita {
  justify-content: flex-end;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu__link {
  padding: 10px 0;
  color: var(--roxo);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.inicio {
  margin-bottom: 10vw;
  padding-top: var(--inicioPaddingTopo);
}

.inicio__pin {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 10vw;
}

.inicio__imagem {
  position: absolute;
  z-index: 2;
  width: auto;
  height: auto;
  object-fit: contain;
  box-shadow: var(--sombra1);
}

.inicio__imagem:nth-child(1) {
  bottom: 10%;
  left: 11%;
  width: 341px;
}

.inicio__imagem:nth-child(2) {
  top: 6%;
  left: 18%;
  width: 333px;
}

.inicio__imagem:nth-child(3) {
  bottom: 23%;
  left: 43%;
  width: 147px;
}

.inicio__imagem:nth-child(4) {
  top: -3%;
  left: 60%;
  width: 302px;
}

.inicio__imagem:nth-child(5) {
  top: 50%;
  right: 16%;
  width: 183px;
}

.inicio__imagem:nth-child(1),
.inicio__imagem:nth-child(4) {
  z-index: 0;
  box-shadow: var(--sombra2);
}

.fundo-inicio {
  position: absolute;
  top: var(--logoEspacoTopo);
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: var(--logoFundoMaxHeight);
  pointer-events: none;
}

.fundo-inicio__imagem {
  object-fit: contain;
  height: 100%;
  max-height: var(--logoFundoMaxHeight);
  transform-origin: 50% 0%;
  transform: translate(0px, 0px);
}

.section-title {
  margin-bottom: 1rem;
  color: var(--roxo);
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

.sobre__texto {
  margin-bottom: calc(var(--paddingConteudo) / 2);
}

.sobre__imagens {
  display: flex;
  flex-direction: column;
}

.sobre__imagem {
  position: relative;
  box-shadow: var(--sombra1);
}

.sobre__imagem:last-child {
  z-index: 1;
  align-self: flex-end;
  margin-top: -40%;
  box-shadow: var(--sombra2);
}

.tipo-de-bordado {
  position: relative;
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tipo-de-bordado__fundo {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: calc(100% - 100px);
  height: 100%;
  background-color: var(--verde);
}

.tipo-de-bordado__imagem {
  display: block;
  box-shadow: var(--sombra2);
}

.tipo-de-bordado__titulo {
  position: absolute;
  margin-top: 0.6em;
  margin-left: 130px;
  color: var(--roxo);
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
}

.contato {
  overflow: hidden;
  background-color: var(--rosa);
}

.contato a {
  color: var(--cinzaClaro);
  font-weight: 700;
  text-decoration: none;
}

.contato a:hover {
  text-decoration: underline;
}

.contato p {
  margin-bottom: 20px;
}

.contato__direita {
  background-color: var(--roxoClaro);
  color: var(--cinzaClaro);
}

.contato__siga-nos {
  text-transform: uppercase;
}

.rodape {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--verde);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .conteudo {
    padding: var(--paddingConteudo) 0 var(--paddingConteudo) var(--paddingConteudo);
  }

  .conteudo--sobre {
    display: flex;
    gap: var(--paddingConteudo);
  }

  .sobre__texto--comImagem {
    display: flex;
    align-items: center;
    gap: var(--paddingConteudo);
    text-align: right;
  }

  .sobre__imagens {
    flex-shrink: 0;
    width: 45%;
  }

  .tipos-de-bordados {
    display: flex;
    align-items: flex-start;
    gap: var(--paddingConteudo);
  }

  .tipo-de-bordado:last-child {
    margin-top: 50px;
  }

  .contato {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .contato .container {
    width: 100%;
    max-width: calc(var(--containerWidth) / 2);
    margin: 0;
  }

  .contato__esquerda,
  .contato__direita {
    display: flex;
    width: 50%;
    padding-top: 150px;
  }

  .contato__esquerda {
    justify-content: flex-end;
  }

  .contato__direita {
    justify-content: flex-start;
  }

  .contato__esquerda .conteudo,
  .contato__direita .conteudo {
    padding-right: var(--paddingConteudo);
  }

  .contato__direita .conteudo {
    margin-top: 80px;
  }
}




