@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

:root {
  --cinza: hsl(6deg 14% 96%);
  --rosa: hsl(6deg 31% 81%);
  --roxo: hsl(314deg 32% 24%);
  --inicioPaddingTopo: 50px;
  --logoWidth: 200px;
  --logoFundoMaxHeight: calc(97vh - var(--inicioPaddingTopo));
  --corSombra1: hsl(0deg 0% 1% / 10%);
  --corSombra2: hsl(0deg 0% 1% / 5%);

  --fundo: var(--cinza);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--fundo);
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

section {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

img {
  display: block;
}

.scroll-container {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cabecalho {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  pointer-events: none;
}

.cabecalho .container {
  display: flex;
}

.cabecalho__logo {
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
  margin-top: 17px;
  width: var(--logoWidth);
  pointer-events: initial;
}

.cabecalho__logo img {
  display: block;
  width: 100%;
  pointer-events: none;
}

.cabecalho__area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 35px;
  pointer-events: initial;
}

.cabecalho__area--direita {
  justify-content: flex-end;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu__link {
  padding: 10px 0;
  color: var(--roxo);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.inicio {
  margin-bottom: 10vw;
  padding-top: var(--inicioPaddingTopo);
}

.inicio__pin {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 10vw;
}

.inicio__imagem {
  position: absolute;
  z-index: 2;
  width: auto;
  height: auto;
  object-fit: contain;
  box-shadow: var(--corSombra1) 0px 20px 25px -5px, var(--corSombra2) 0px 10px 10px -5px;
}

.inicio__imagem:nth-child(1) {
  bottom: 10%;
  left: 11%;
  width: 341px;
}

.inicio__imagem:nth-child(2) {
  top: 6%;
  left: 18%;
  width: 333px;
}

.inicio__imagem:nth-child(3) {
  bottom: 23%;
  left: 43%;
  width: 147px;
}

.inicio__imagem:nth-child(4) {
  top: -3%;
  left: 60%;
  width: 302px;
}

.inicio__imagem:nth-child(5) {
  top: 50%;
  right: 16%;
  width: 183px;
}

.inicio__imagem:nth-child(1),
.inicio__imagem:nth-child(4) {
  z-index: 0;
  box-shadow: var(--corSombra1) 0px 10px 15px -3px, var(--corSombra2) 0px 4px 6px -2px;
}

.fundo-inicio {
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: var(--logoFundoMaxHeight);
  pointer-events: none;
}

.fundo-inicio__imagem {
  object-fit: contain;
  height: 100%;
  max-height: var(--logoFundoMaxHeight);
  transform-origin: 50% 0%;
  transform: translate(0px, 0px);
}

.section-title {
  margin-bottom: 1rem;
  color: var(--roxo);
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}
